body{
    background-image: url(hatter.png);
}

.box{
    text-align: center;
}

.shadow{
    border-style: solid;
    border-color: white;
    background-color: white;
    padding: 20px;
text-align: center;
box-shadow: 10px 10px 5px #cfb7a2;
margin-right: 15%;
margin-left: 15%;
}

.Tudtad{
    width:250px;
    float:right;
    margin: 0px 0px 20px 15px;
    background-color: #ffffcc;
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    box-shadow: 10px 10px 5px #cfb7a2;

}

.margined{
    margin-left: 15%;
    margin-right: 15%;
}